* {
	border: 1px solid grey;
}

td {
	width:20px;
	height:20px;
}


.blue {
	background-color: blue;
}

.black {
	background-color: black;
	width: 150px;
	height: 150px;
}


.orange {
	background-color: orange;
}

.green {
	background-color: green;
}